perationMode="REMOTE"
clientTransportIgnoreClusterName=B"false"
indexNamePrefix="liferay-"
httpCORSConfigurations=""
additionalConfigurations=""
httpCORSAllowOrigin="/https?://localhost(:[0-9]+)?/"
networkBindHost=""
transportTcpPort=""
syncSearch=B"true"
bootstrapMlockAll=B"false"
networkPublishHost=""
overrideTypeMappings=""
clientTransportSniff=B"true"
additionalIndexConfigurations=""
retryOnConflict=I"5"
httpCORSEnabled=B"true"
clientTransportNodesSamplerInterval="5s"
additionalTypeMappings=""
logExceptionsOnly=B"true"
httpEnabled=B"true"
networkHost=""
transportAddresses=["elasticsearch:9300"]
clusterName="elasticsearch"
discoveryZenPingUnicastHostsPort="9300-9400"

